<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Klassen.MySettings.Connection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\Data\Data.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="Klassen.MySettings.Connection1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=.\Data\ReplikatVonData.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>